<a href="https://colab.research.google.com/github/VineeS/DataScience_from_Scratch/blob/master/DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 1: Introduction**

In [ ]:
users = [
         {"id":0, "name":"Hero"},
         {"id":1, "name":"Dunn"},
         {"id":2, "name":"Sue"},
         {"id":3, "name":"Chi"},
         {"id":4, "name":"Thor"},
         {"id":5, "name":"Clive"},
         {"id":6, "name":"Hicks"},
         {"id":7, "name":"Devin"},
         {"id":8, "name":"Kate"},
         {"id":9, "name":"Klien"}
         ]

Friendships = [(0,1),(0,2),(1,2),(1,3),(2,3),(3,4),(4,5),(5,6),(5,7),(6,8),(7,8),(8,9)]


for user in users:
  user["friends"] = []

for i, j in Friendships:
  users[i]["friends"].append(users[j])
  users[j]["friends"].append(users[i])

def number_of_friends(user):
  return len(user['friends'])

total_connections = sum(number_of_friends(user) for user in users)
print("total number of connections",total_connections) # total number of connections

###### Avg connection 

num_user= len(users)
avg_connections = total_connections/num_user
print("Avg connection",avg_connections)

##### User with most friends to least friends

number_of_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]
print(sorted(number_of_friends_by_id, key= lambda userid: userid[1], reverse=True))

##### lambda examples below:

user = [{"name": "Dough", "age": 55}, 
            {"name": "Ben", "age": 44}, 
            {"name": "Citrus", "age": 33},
            {"name": "Abdullah", "age":22},
            ]
print("-------------------------------------------------------------------------")
print(sorted(user, key=lambda el: el["name"]))
print(sorted(user, key= lambda y: y["age"]))

           #[0].     #[1]     #[2]
cars = [('citroen', 'zsara', 1100), ('lincoln', 'navigator', 2000), ('bmw', 'x5', 1700)]
print("-------------------------------------------------------------------------")

print(sorted(cars, key=lambda car: car[0])) 
print(sorted(cars, key=lambda car: car[1]))
print(sorted(cars, key=lambda car: car[2]))

total number of connections 24
Avg connection 2.4
[(1, 3), (2, 3), (3, 3), (5, 3), (8, 3), (0, 2), (4, 2), (6, 2), (7, 2), (9, 1)]
-------------------------------------------------------------------------
[{'name': 'Abdullah', 'age': 22}, {'name': 'Ben', 'age': 44}, {'name': 'Citrus', 'age': 33}, {'name': 'Dough', 'age': 55}]
[{'name': 'Abdullah', 'age': 22}, {'name': 'Citrus', 'age': 33}, {'name': 'Ben', 'age': 44}, {'name': 'Dough', 'age': 55}]
-------------------------------------------------------------------------
[('bmw', 'x5', 1700), ('citroen', 'zsara', 1100), ('lincoln', 'navigator', 2000)]
[('lincoln', 'navigator', 2000), ('bmw', 'x5', 1700), ('citroen', 'zsara', 1100)]
[('citroen', 'zsara', 1100), ('bmw', 'x5', 1700), ('lincoln', 'navigator', 2000)]

In [ ]:
### Now we need to find the friends of friends

def friends_of(user):
  return [fof["id"] for fof in user["friends"] ]

def friends_of_friends(user):
  return [foaf["id"] for friend in user["friends"] for foaf in friend["friends"]]

print("Hero's friends",friends_of(users[0]))
print("Hero's friend of friend",friends_of_friends(users[0]))


print([friend["id"] for friend in users[0]["friends"]])
print([friend["id"] for friend in users[1]["friends"]])
print([friend["id"] for friend in users[2]["friends"]])

Hero's friends [1, 2]
Hero's friend of friend [0, 2, 3, 0, 1, 3]
[1, 2]
[0, 2, 3]
[0, 1, 3]

In [ ]:
# It would be good to calculate the number of mutual friends

from collections import Counter

def not_the_same(user, other_user):
  #two user are not the same if they do not have same Id's
  return user["id"] != other_user["id"]

def not_friends(user, other_user):
  #other_user is not a friend if he/she not in the user["friends"]
  #The all() method returns True when all elements in the given iterable are true. If not, it returns False.
  return all(not_the_same(friend, other_user) for friend in user["friends"])

print(not_friends(users[8], users[5])) # will return true if user and other_user are not friends

def friends_of_friends_ids(user):
  return Counter(foaf["id"] for friend in user["friends"] for foaf in friend["friends"] if not_the_same(user, foaf) and not_friends(user,foaf))

print(friends_of_friends_ids(users[0])) # output: Counter({3: 2}) shows that id:0 has two mutual friends with 3 
print(friends_of_friends_ids(users[3])) # output: Counter({0: 2, 5: 1}) shows that id:3 has two mutual friends with 0 and one mutual friend with 5

True
Counter({3: 2})
Counter({0: 2, 5: 1})

In [ ]:
interests = [
             (0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
             (0, "Spark"), (0, "Storm"), (0, "Cassandra"),
             (1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
             (1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
             (2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
             (3, "statistics"), (3, "regression"), (3, "probability"), 
             (4, "machine learning"), (4, "regression"), (3, "probability"),
             (4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
             (5, "Haskell"), (5, "programming languages"), (6, "statistics"),
             (6, "probability"), (6, "mathematics"), (6, "theory"), 
             (7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
             (7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
             (8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
             (9, "Java"), (9, "MapReduce"), (9, "Big Data")
             ]

          

def data_scientist_who_likes(target_interset):
  return [user_id for user_id,user_interests in interests if user_interests == target_interset]

data_scientist_who_likes("Python")
# the above method searches the whole list

from collections import defaultdict

# key - intersets and value - list of user_ids with there interest
user_ids_by_list = defaultdict(list)
for user_id, interest in interests:
  user_ids_by_list[interest].append(user_id) 

print(user_ids_by_list)

###### key - userIds and values - list of interest with there user_ids 
interests_by_the_user_ids = defaultdict(list)
for user_id, interest in interests:
  interests_by_the_user_ids[user_id].append(interest) 

print(interests_by_the_user_ids)

defaultdict(<class 'list'>, {'Hadoop': [0, 9], 'Big Data': [0, 8, 9], 'HBase': [0, 1], 'Java': [0, 5, 9], 'Spark': [0], 'Storm': [0], 'Cassandra': [0, 1], 'NoSQL': [1], 'MongoDB': [1], 'Postgres': [1], 'Python': [2, 3, 5], 'scikit-learn': [2, 7], 'scipy': [2], 'numpy': [2], 'statsmodels': [2], 'pandas': [2], 'R': [3, 5], 'statistics': [3, 6], 'regression': [3, 4], 'probability': [3, 3, 6], 'machine learning': [4, 7], 'libsvm': [4], 'C++': [5], 'Haskell': [5], 'programming languages': [5], 'mathematics': [6], 'theory': [6], 'Mahout': [7], 'neural networks': [7, 8], 'deep learning': [8], 'artificial intelligence': [8], 'MapReduce': [9]})
defaultdict(<class 'list'>, {0: ['Hadoop', 'Big Data', 'HBase', 'Java', 'Spark', 'Storm', 'Cassandra'], 1: ['NoSQL', 'MongoDB', 'Cassandra', 'HBase', 'Postgres'], 2: ['Python', 'scikit-learn', 'scipy', 'numpy', 'statsmodels', 'pandas'], 3: ['R', 'Python', 'statistics', 'regression', 'probability', 'probability'], 4: ['machine learning', 'regression', 'libsvm'], 5: ['Python', 'R', 'Java', 'C++', 'Haskell', 'programming languages'], 6: ['statistics', 'probability', 'mathematics', 'theory'], 7: ['machine learning', 'scikit-learn', 'Mahout', 'neural networks'], 8: ['neural networks', 'deep learning', 'Big Data', 'artificial intelligence'], 9: ['Hadoop', 'Java', 'MapReduce', 'Big Data']})

In [ ]:
# salaries and experience (pg 8)

salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                        (48000, 0.7), (76000, 6),
                        (69000, 6.5), (76000, 7.5),
                        (60000, 2.5), (83000, 10),
                        (48000, 1.9), (63000, 4.2)]


salary_by_tenure = defaultdict(list)

for tenure, salary in salaries_and_tenures:
  salary_by_tenure[tenure].append(salary)

salary_by_tenure

# avg salary at that tenure 
avg_salary_by_tenure = {
    tenure : sum(salaries)/len(salaries)
    for tenure, salaries in salary_by_tenure.items()
}

avg_salary_by_tenure

{48000: 1.2999999999999998,
 60000: 2.5,
 63000: 4.2,
 69000: 6.5,
 76000: 6.75,
 83000: 9.35,
 88000: 8.1}

# **Chapter 2: Python Crash Course**

In [ ]:
###### LISTS

x = range(10)
zero = x[0]
one = x[1]
two = x[2]
nine = x[-1]
seven = x[-2]

### List Slicing
list_integer = [1,2,4,9,10]
first_three = list_integer[:3]
three_to_end =list_integer[3:]
one_to_four = list_integer[1:5] # wont print the 5th element
last_three = list_integer[-3:]
except_last_three = list_integer[:-3]
without_first_and_last = list_integer[1:-1]
copy_of_x = list_integer[:]
copy_of_x

[1, 2, 4, 9, 10]

In [ ]:
### Dictionary

grades = {"Vinee":80, "Aman":90}
check = "Yash" in grades
check1 = grades.get("Aman")
len(grades)

2

In [ ]:
documents = "forgiveness is better than permission"
word_counts = {}
for word in documents:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] =1
print(word_counts)

{'f': 1, 'o': 2, 'r': 3, 'g': 1, 'i': 4, 'v': 1, 'e': 5, 'n': 3, 's': 5, ' ': 4, 'b': 1, 't': 3, 'h': 1, 'a': 1, 'p': 1, 'm': 1}

In [ ]:
documents = "forgiveness is better than permission"
word_counts1 = {}
for word in documents:
  try:
    word_counts1[word] += 1
  except KeyError:
    word_counts1[word] =1
print(word_counts1)

{'f': 1, 'o': 2, 'r': 3, 'g': 1, 'i': 4, 'v': 1, 'e': 5, 'n': 3, 's': 5, ' ': 4, 'b': 1, 't': 3, 'h': 1, 'a': 1, 'p': 1, 'm': 1}

In [ ]:
word_counts_get = {}
for word in documents:
  previous_count = word_counts_get.get(word,0)
  word_counts_get[word] = previous_count+1

print(word_counts_get)

{'f': 1, 'o': 2, 'r': 3, 'g': 1, 'i': 4, 'v': 1, 'e': 5, 'n': 3, 's': 5, ' ': 4, 'b': 1, 't': 3, 'h': 1, 'a': 1, 'p': 1, 'm': 1}

In [ ]:
dictionary = defaultdict(int)
for word in documents:
  dictionary[word] +=1

dd_list1 = defaultdict(list)
dd_list1[2].append(1)
dd_list1[3].append(1)
print(dd_list1)

dd_list2 = defaultdict(dict)
dd_list2["Jane"]= 0
dd_list2["Doe"]["is"] = "Seattle"
print(dd_list2)

dd_list3 = defaultdict(lambda: [0,0])
dd_list3[1,1] = 2
dd_list3[1,2] = 3
print(dd_list3)

defaultdict(<class 'list'>, {2: [1], 3: [1]})
defaultdict(<class 'dict'>, {'Jane': 0, 'Doe': {'is': 'Seattle'}})
defaultdict(<function <lambda> at 0x7f8cdfe8df28>, {(1, 1): 2, (1, 2): 3})

###**Counter**

In [ ]:
from collections import Counter
c = Counter([0,1,2,0])
c

# The counter turns the sequence of values into default dict

word_counts = Counter(documents)

for word, count in word_counts.most_common(10):
  print(word,count)

# most common method that is frequently used

e 5
s 5
i 4
  4
r 3
n 3
t 3
o 2
f 1
g 1

###**Sets**

In [ ]:
Sets = set()
Sets.add(2)
Sets.add(4)
Sets.add(1)
Sets.add(2)
Sets.add(3)
print(Sets) 
print(len(Sets)) # excludes the repeated values

{1, 2, 3, 4}
4

In [ ]:
stopwords_list = ["a","an","at"] + ["yet"]+["yet","yet", "you"]
print("zip" in stopwords_list)
stopwords_set = set(stopwords_list)

"yet" in stopwords_set
#stopwords_set

False

True

In [ ]:
item_list = [1,2,3,4,1,2,3]
num_items = len(item_list)
print(num_items)
print(set(item_list))

7
{1, 2, 3, 4}

In [ ]:
x = 17
ans = "Yes" if x%2 == 0 else "False"
ans

'False'

### **Few Important**

In [ ]:
#Sorting
x = [1,3,1,2,5]
answer = sorted(x)
print(answer)
y = [7,3,9,1,3]
y.sort()
y

[1, 1, 2, 3, 5]

[1, 3, 3, 7, 9]

In [ ]:
rev = sorted([7,-3,9,1,3], reverse=True)
rev

[9, 7, 3, 1, -3]

In [ ]:
one_is_less_than_two = 1 < 2
one_is_less_than_two

True

In [ ]:
def some_func_that_returns_a_string():
  return "tapp"
s = some_func_that_returns_a_string()
if s:
  first_char = s[0]
else:
  first_char = ""

first = s[0]
print("first",first)

first t

###List of comprehensions

In [ ]:
even_numbers = [x for x in range(5) if x % 2 == 0]
square_of_number = [x*x for x in range(5)]
even_square = [x*x for x in even_numbers]
print("even_numbers",even_numbers)
print("square_of_number",square_of_number)
print("even_square",even_square)

even_numbers [0, 2, 4]
square_of_number [0, 1, 4, 9, 16]
even_square [0, 4, 16]

In [ ]:
square_dict = {x: x*x for x in range(5)}
sqaure_set = {x*x for x in [-2,3,-3,-2,-1]}
print("square_dict",square_dict)
print("sqaure_set",sqaure_set)

square_dict {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
sqaure_set {9, 4, 1}

In [ ]:
#Multiple For's

pairs = [(x,y) for x in range(3) for y in range(4)]
print("pairs",pairs)
increasing_pair = [(x,y) for x in range(4) for y in range(x+1,4)]
print("increasing_pair",increasing_pair)

pairs [(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]
increasing_pair [(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

### **Generator and Iterators**

In [ ]:
# a generator is something that you can iterate over but whose value are produced only when needed

def lazy_range(n):
  #a lazy version of range
  i = 0
  while i < n:
    yield i
    i += 1

def do_something(k):
  print(k)

  
for i in lazy_range(5):
  do_something(i)

0
1
2
3
4

### Randomness

In [ ]:
import random

four_random_numbers = [random.random() for _ in range(3)]
print("four random numbers",four_random_numbers)

print(random.random())

print(random.random())
random.seed(5)
print(random.random())

four random numbers [0.7042999111798673, 0.33060680505025886, 0.13847945053932076]
0.8160070778623536
0.5069729709896116
0.6229016948897019

In [ ]:
#randonrange
#ranging from 0,20
random.randrange(20)

# ranging from upperlimit to lower limit [3,4,5]
random.randrange(3,6)

5

In [ ]:
arr = [2,1,3,4,5,2]
random.shuffle(arr)
print("shuffled ordered",arr)

shuffled ordered [3, 4, 1, 2, 5, 2]

In [ ]:
choose_one = random.choice(["Amazon", "Bloomberg", "JP morgan"])
choose_one

'Amazon'

In [ ]:
lottery_item = range(60)
random.sample(lottery_item, 6) # this will not allow duplicates.

[59, 9, 16, 4, 21, 19]

In [ ]:
with_replacement = [random.choice(range(10)) for _ in range(4)]
with_replacement # this will allow duplicates.

[4, 0, 5, 6]

In [ ]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

print(re_examples)

[True, <_sre.SRE_Match object; span=(1, 2), match='a'>, True, True, True]

In [ ]:
not re.search("c", "dog")

True

In [ ]:
re.search("t", "cat")

In [ ]:
ans = len(re.split("[ab]", "carbs"))
print(ans)

3

In [ ]:
not re.search("c", "dog")

True

### Object oriented programming

In [ ]:
class Set:

    def __init__(self, values):
      self.dict = {}
      if values is not None:
        for value in values:
          self.add(value)

    def __repr__(self):
      return "Set: " + str(self.dict.keys())

    def add(self,value):
      self.dict[value] = True

    def contains(self,value):
      return value in self.dict

    def remove(self, value):
      del self.dict[value]


s = Set([1,2,3])
s.add(4)
print(s.contains(4))
s.remove(3)
print(s.contains(3))

True
False

### Functional Tools

In [89]:
def exp(base, power):
  return base ** power

def to_the_power(number,power):
  return exp(number, power)

to_the_power(2,3)

from functools import partial

two_the_power = partial(exp,2)
print(two_the_power(3))

sqaure_of = partial(exp, power = 2)
print(sqaure_of(5))

8
25

In [91]:
def func(u,v,w,x):
    return u + v + w + x

p = partial(func,5,6,7)
print(p(8))

26

In [109]:
def double(x):
  return 2*x

xs = [2,4,1,3]
twice_xs = [double(x) for x in xs]
print(twice_xs)
twice_map_xs = map(double,xs) # map returns list
for i in twice_map_xs:
  print(i)

print("--------------------------------")
# so map is used when we want to apply function for each argument
for j in map(double,xs):
  print(j)
print("--------------------------------")
list_doubler_partial = partial(map,double) # function that doubles a list 
list_it = list_doubler_partial(xs) 
for k in list_it:
  print(k)

[4, 8, 2, 6]
4
8
2
6
--------------------------------
4
8
2
6
--------------------------------
4
8
2
6

In [113]:
# map multiple example

def multiply(x,y):
  return x*y


products = map(multiply, [2,3],[5,4])
for i in products:
  print(i)
print("--------------------------------")

for j in map(multiply,[2,4],[4,5]):
  print(j)

# NOTE: map always returns a list and we can also provide multiple lists

10
12
--------------------------------
8
20

In [122]:
# Filter

def even(x):
  return x%2 ==0

even_no = [x for x in xs if even(x)]
print(even_no)
print("--------")
x_even = filter(even,xs)
for i in x_even:
  print(i)
print("--------")

map_out_even = map(even, xs)
for j in map_out_even:
  print(j)

[2, 4]
--------
2
4
--------
True
True
False
False

###Enumerate

In [123]:
for i in enumerate(xs):
  print(i)

# Notes: This produces the tuple of (index , value)

(0, 2)
(1, 4)
(2, 1)
(3, 3)

### Zip and args

In [125]:
# zip
l1 = [2,3,4]
l2 = ['a','b','c']
zip_val = zip(l1,l2)
for i in zip_val:
  print(i)

(2, 'a')
(3, 'b')
(4, 'c')

In [130]:
# unzip

pair = [(2, 'a'),(3, 'b'),(4, 'c')]
letters, number = zip(*pair)
print(letters, number)
# Note : asterisk performs unpacking

(2, 3, 4) ('a', 'b', 'c')